@import url('https://fonts.googleapis.com/css?family=Bentham|Cormorant+Garamond|Exo|Montserrat|Yeseva+One');

/* font-family: 'Exo', sans-serif;
font-family: 'Bentham', serif;
font-family: 'Yeseva One', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Montserrat', sans-serif; */

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
    width: 100%;
    background-color: white;
    text-align: center;
    position: fixed;
    top: 0%;
}

h1 a {
    text-decoration: none;
    color: black;
}

div {
    width: 60%;
    margin: auto;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

li a {
    text-decoration: none;
    color: black;
}

#main div {
    margin-top: 180px;
    width: 40%;
    text-align: justify;
}